{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}
<title>Авторизация</title>
{% endblock %}
{% block page_content %}
<div class="col-auto mb-4" align="center" style="min-height:82%;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Вход</legend>
            {% for i in form %}
            <p><label class="form-text" for="{{ i.id_for_label }}">{% if i.label != 'Я не робот' %}
                {{i.label}}:
                {% endif %} </label>{{ i }}</p>
            <div class="form-error">{{i.errors}}
            </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Авторизоваться</button>
        </div>
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            <img src="https://w7.pngwing.com/pngs/869/485/png-transparent-google-logo-computer-icons-google-text-logo-google-logo.png"
                 width="15" height="15">
            Войти через Google
        </a>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Не зарегистрированы? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
        </small>
    </div>
</div>
{% endblock %}